<head>
   <title>HostIMG</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/lib/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/css/hostimg.css">
   <meta charset="utf-8">
   <script src="https://unpkg.com/react@15/dist/react.js"></script>
   <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
   <script type="text/babel" src="/js/loginBox.js"></script>
   <script>
   function mobileMenu(){
      var loginBox = document.getElementById('loginBox');
      var boxStatus = document.getElementById('loginBoxStatus');
      var menu = document.getElementById('menuExpand');
      if(menu.style.display == "none"){
         menu.style  = "display:block";
      }
      else{
         menu.style  = "display:none;";
         boxStatus.innerHTML = '▼';
         loginBox.style.visibility='hidden';
      }
   }
   function verBox(){
     var loginBox = document.getElementById('loginBox');
     var boxStatus = document.getElementById('loginBoxStatus');
     if (boxStatus.innerHTML === '▼') {
        boxStatus.innerHTML = '▲';
        loginBox.style.visibility='visible';
      }
      else{
         boxStatus.innerHTML = '▼';
         loginBox.style.visibility='hidden'
      }
   }
   </script>
</head>
<nav class="navbar navbar-default">
   <div class="container-fluid">
       <div class="navbar-header">
         <button for="fbCheck" onClick="mobileMenu()" class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
         <a class="navbar-brand" href="/"><span class="fa fa-picture-o"></span> HostIMG</a>
       </div>
      
<nav class="sidebar-follow-button" id="menuExpand">
				<ul class="nav navbar-nav">
           <li><a href="/">Inicio</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right" id="loginMenu">
             <% if(typeof user !== 'undefined' && user !== null && user.length == 1){%>
                   <li><a href="/perfil">Perfil</a></li>
                   <li><a href="/logout">Cerrar Sesión</a></li>
             <%}else{%>
                <li><a style="cursor: pointer;" onClick="verBox()">Iniciar Sesión <span id="loginBoxStatus">▼</span></a>
                    <div id="loginBox"></div>
                </li>
             <%}%>
           <li><a href="/images/upload">Subir Imágenes</a></li>
				 </ul>
			</nav>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">

         </ul>
       </div>
   </div>
</nav>