<% include header.ejs %>

<body>
<div class="container">
   <div class="jumbotron text-center">
      <% if(typeof error !== 'undefined' && error !== null){%>
      <div class="alert alert-dismissible alert-danger">
         <%if(error == 1){%>
            Parece que ha habido algún error
         <%}else if(error == 2){%>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Contraseña y/o login incorrectos
         <%}%>
      </div>
      <%}%> 
      <h1><span class="fa fa-lock"></span>Login</h1> 
      
      <div id="login"></div>
      
      <script type="text/babel">
         var login = React.createClass({
         render() {
            return (
               <form action="checkLogin" method="post">
                  <label class="col-lg-2 control-label">Login</label>
                  <div class="col-lg-10">
                  <input type="text" placeholder="Enter Username" name="user" /><br></br>
                  </div>

                  <label class="col-lg-2 control-label">Password</label>
                  <div class="col-lg-10">
                  <input type="password" placeholder="Enter Password" name="password"/>
                  </div>
                  <br></br><br></br>
                  <button class="btn btn-primary" type="submit">Login</button>
               </form>
            );
         }
         })
         //mostramos el componente
         ReactDOM.render(
            React.createElement(login),      //necesitamos una instancia
            document.getElementById('login') //dónde lo queremos dibujar
         )
      </script>
   </div>
</div>
</body>
</html>