<!doctype html>
<html>
<% include header.ejs %>
<body>

<div class="container">
   <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span>Login</h1> 
      
      <div id="login"></div>
      
      <script type="text/babel">
         var login = React.createClass({
         render() {
            return (
               <form action="checkLogin" method="post">
                  <label class="col-lg-2 control-label">Login</label>
                  <div class="col-lg-10">
                  <input type="text" placeholder="Enter Username" name="user" required/><br></br>
                  </div>

                  <label class="col-lg-2 control-label">Password</label>
                  <div class="col-lg-10">
                  <input type="password" placeholder="Enter Password" name="password" required/>
                  </div>
                  <br></br><br></br>
                  <button class="btn btn-primary" type="submit">Login</button>
               </form>
            );
         }
         })
         //mostramos el componente
         ReactDOM.render(
            React.createElement(login),      //necesitamos una instancia
            document.getElementById('login') //dónde lo queremos dibujar
         )
      </script>
   </div>
</div>
</body>
</html>