<% include header.ejs %>

<body>
<div class="container">
   <div class="jumbotron text-center">
      <h1><i class="fa fa-user-circle" aria-hidden="true"></i>Perfil</h1> 
      <h3>¡Hola <strong><%=user[0].username%></strong>!</h3>
   </div>
</div>
</body>
</html>