<% include header.ejs %>
<script type="text/babel" src="/js/uploadImage.js"></script>
<body>
<div class="container">
  <div class="jumbotron text-center">
   <% if(typeof msg !== 'undefined' && msg !== null){%>    
         <%if(msg == 1){%>
           <div class="alert alert-dismissible alert-danger">
              Debes seleccionar una imagen
         <%}else if(msg == 2){%>
           <div class="alert alert-dismissible alert-danger">
              Solo se puede utilizar el formato .png
         <%}%>
           </div>  
   <%}%>
         <div id="error"></div>
         <div id="uploadImageBox"></div>
      
         
   </div>
</div>
</body>
</html>

