<% include header.ejs %>

<body>
<div class="container">
  <div class="jumbotron text-center">
   <% if(typeof msg !== 'undefined' && msg !== null){%>    
         <%if(msg == 1){%>
           <div class="alert alert-dismissible alert-danger">
              Debes seleccionar una imagen
         <%}else if(msg == 2){%>
           <div class="alert alert-dismissible alert-danger">
              Solo se puede utilizar el formato .png
         <%}%>
           </div>  
   <%}%>
         <div id="error"></div>
         <div id="uploadImage"></div>
      
         <script type="text/babel">
         var uploadImage = React.createClass({
         
        uploadImage() {
          var input = document.querySelector('input[type="file"]');
          var submit = document.getElementById("subirImagen");
          var error = document.getElementById("error");
          
          error.innerHTML = '';
          submit.innerHTML = '';
          
          var fileExtension = input.files[0].name.split('.').pop();
          if(fileExtension == 'png'){
            submit.innerHTML = '<input  class="btn btn-primary" type="submit" value="Subir imagen"></input>';
          }
          else{
            error.innerHTML = '<div class="alert alert-dismissible alert-danger">Solo se puede utilizar el formato .png</div>';
          }
          
              
        },
        
        render() {
            return (
              <div>
                  <form action="/images/upload" method="POST" encType="multipart/form-data">
                  <h1><i className="fa fa-cloud-upload" aria-hidden="true"></i> Subir imagen</h1><br></br>
                    <% if(typeof user !== 'undefined' && user !== null && user.length == 1){%>
                       <input type="hidden" name="user" value="<%=user[0].username%>"></input>
                    <%}else{%>
                      <input type="hidden" name="user" value="Anónimo"></input>
                    <%}%>

                    <input className="btn btn-default" type='file' name='image' onChange={this.uploadImage}></input><br></br><br></br>
                    <span id="subirImagen"></span>
                    </form>
              </div>
            );
         }
         })
         //mostramos el componente
         ReactDOM.render(
            React.createElement(uploadImage),
            document.getElementById('uploadImage')
         )
      </script>
   </div>
</div>
</body>
</html>

